:root {
  --main-light-color: #faf4ea;
  --main-dark-color: #31261a;
  --brend-light-color: #819b57;
  --brend-dark-color: #465929;
  --secondory-dark-color: #a18268;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
