.h-1 {
  font-weight: 900;
  color: var(--main-light-color);
  font-size: 128px;
  line-height: 1.5;
  text-align: center;
}

.brend-color-text {
  color: var(--brend-light-color);
}

.h2-sec2 {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}

.strong {
  color: var(--brend-light-color);
  text-transform: uppercase;
  font-weight: 600;
}

.strong1 {
  color: var(--brend-light-color);
  font-weight: 600;
}

.about-paragraphs {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.h2-sec3-4 {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  text-align: center;
}

.h2strong {
  color: var(--brend-dark-color);
}
