.about {
  padding: 96px 0 48px 0;

  &__items-container {
    display: flex;
    justify-content: space-between;
  }

  &__text-container {
    max-width: 710px;
    width: 100%;
  }

  &__h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    line-height: 1.5;
    font-weight: 900;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
  }

  &__photo {
    border-radius: 400px 400px 0px 0px;
  }
}
