.button {
  color: var(--main-light-color);
  background-color: var(--brend-light-color);
  border: 2px solid var(--brend-light-color);
  line-height: 1.5;
  border-radius: 8px;
  width: 174px;
  height: 27px;

  &:hover {
    color: var(--brend-dark-color);
    border: 2px solid var(--brend-light-color);
    background-color: transparent;
  }
}
